@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif, arial;
    font-weight: 200;
    font-size: 18px;
}

#navlinks img {
    height: 125px;
    width: auto;
    position: absolute;
    left: 50px;
}

#navlinks ul {
    margin-right: 100px;
    display: flex;
    justify-content: right;
    height: 125px;
}

#navlinks li {
    display: inline-block;
    padding: 50px 35px;
}

#navlinks a {
    text-decoration: none;
    color: #1190cb;
    font-weight: 300;
}

#navlinks a:hover {
    border-bottom: 1px solid #1190cb;
}

.active {
    border-bottom: 1px solid #1190cb;
}

#landing-page {
    background-image: url("/assets/img/the-boyz-van.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}