@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif, arial;
    font-weight: 200;
    font-size: 18px;
}

#navlinks img {
    height: 125px;
    width: auto;
    position: absolute;
    left: 125px;
}

#navlinks ul {
    margin-right: 100px;
    display: flex;
    justify-content: right;
    height: 125px;
}

#navlinks li {
    display: inline-block;
    padding: 50px 35px;
}

#navlinks a {
    text-decoration: none;
    color: #1190cb;
    font-weight: 300;
}

#navlinks a:hover {
    border-bottom: 1px solid #1190cb;
}

.active {
    border-bottom: 1px solid #1190cb;
}

#landing-page {
    background-image: url("/assets/img/the-boyz-van.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: auto;
}

#about-us {
    height: 650px;
    width: 100%
}

#about-us > p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #1190cb;
}

#about-us > h2 {
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    color: #1190cb;
}

.uppercase {
    text-transform: uppercase;
}

#about-more {
    display: flex;
    height: 500px;
    width: 100%;
}

#about-more > div {
    display: inline-block;
    height: 500px;
    width: 50%;
    margin: 5px 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#photo {
    background-image: url(/assets/img/business-partners.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 50%;
    border-radius: 20px;
    padding: 0 25px;
    margin: 0 25%;
}

.left {
    text-align: left;
}

.center {
    margin-left: 50px;
    margin-top: 6%;
}